<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
    <title>SOS Harcel</title>
</head>
<body style="font-family: sans-serif">
    <img src="{{ absolute_url(asset('images/logo.png')) }}" style="display: inline-block; vertical-align: middle">

    <h3 style="display: inline-block; font-size: 30px">Sos Harcel</h3>

    <h2 style="margin-top: 20px">La création de votre compte SOS Harcel</h2>

    <p style="margin-top: 20px; font-size: 15px">

        Bonjour <span style="font-weight: bold">{{ name }}</span> !<br>
        <br>
        Nous vous confirmons votre inscription sur le site <strong>SOS Harcel</strong> et vous souhaitons la bienvenue sur le site.<br>

        Nous vous rappellons que ce site est <i>un espace d'échange et de soutien contre le harcélement scolaire</i>.<br>

        Nous vous demandons de poster vos messages ou commentaires dans le respect le plus total.<br>

        Vous pouvez vous connecter en vous rendant sur <a href="{{ url('login') }}">cette page</a>.<br>
        <br>
        Merci!

    </p>
</body>